
body{
    background: black;
}


div{
    height: 100px;
    width: 100px;
    background-color: red;
    animation-name: square;
    animation-duration: 5s;
    animation-delay: 2s;
}

}


@keyframes square{
    0%{ 
       background: red;
       width: 0;
        
    }
    50%{
        background: green;
    }
    100%{
        background: blue;
        width: 100%;
    }
}

.div2{
    height: 100px;
    width: 100px;
    background-color: yellow;
/*  1- animation-name: yazan;
    2- animation-duration: 5s;
    3- animation-delay: 2s;
    4- animation-iteration-count: 1;
    5- animation-direction: normal;
    6- animation-timing-function: linear;
    7- animation-fill-mode: forwards ; */

    /*!        Short hand for Animation         */
    animation: yazan 5s linear 3s infinite normal both running;
}
   

@keyframes yazan{
        0%{
            background-color: yellow ;
            translate: 0 0;
            rotate: 0;
        }
        25%{
            translate: 0 500px;
            background: orange;
            rotate: 90deg;
        }
        50%{
            translate: 500px 500px;
            background: red;
            rotate: 180deg;
        }
        75%{
            translate: 500px 0px;
            background: pink;
            rotate: 270deg;
        }
        100%{
            background-color: blue;
            translate: 0 0 ;
            rotate: 360deg;
        }
    }

    .div2:hover{
        animation-play-state: paused;
        cursor: pointer;
    }